* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

    --primary-color: hsl(281, 100%, 26%);
    --primary-dark-color: hsl(281, 100%, 17%);
    --primary-ultra-dark-color: hsl(281, 100%, 14%);

    --second-color: hsl(172, 100%, 50%);
    --second-light-color: hsl(172, 100%, 89%)
}

:root {
    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1440px;
}

body {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    max-width: 100%;

    background-color: var(--primary-ultra-dark-color);
}

header {
    width: 100%;
    height: fit-content;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__container {
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--primary-dark-color);
}

*::selection {
    background-color: hsla(172, 100%, 89%, 0.5);
    color: var(--primary-dark-color);
}

.logo {
    width: fit-content;
    height: 80px;
    margin-left: 5%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 1em;
}

.logo h1 {
    font-family: "Mina", serif;
    font-size: 1.5em;

    margin: 0px;
    margin-top: 0.25em;

    white-space: nowrap;
    letter-spacing: 0.2em;
    padding-left: 0.2em;
}

.logo hr {
    width: 100%;
    height: 0.05em;
    margin-top: -0.5em;

    background-color: var(--second-light-color);
}

.logo h2 {
    /*font-family: "Mina", serif;*/
    font-size: 1em;

    margin: 0;
    margin-bottom: 0.5em;

    white-space: nowrap;
    letter-spacing: 0.2em;
    padding-left: 0.2em;
}


.hr__nav {
    width: 100%;
    height: 0.1em;
    padding: 0;
    margin: 0;
    position: fixed;

    display: none;
    z-index: 1000;

    background-color: white;

    border-width: 0;
}


.nav__toggle {
    height: 40px;
    width: 40px;

    margin-right: 4%;

    color: white;
}

.nav__toggle input {
    display: none;
}

.nav__toggle label {
    display: block;
    width: 100%;
    height: 100%;
}

nav {
    width: 100%;
    height: fit-content;
    
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: "MuseoModerno", serif;

    background-color: var(--primary-ultra-dark-color);
}

nav a {
    text-align: center;
    width: 100%;
    padding: 15px 0px;

    color: antiquewhite;
    font-size: 1.3em;
    text-decoration: none;
}

nav a:hover:not(.nav__active) {
    color: var(white);
    text-shadow: 0px 0px 0.05em white, 0px 0px 0.1em white, 0px 0px 0.2em white,
        0px 0px 1em white, 0px 0px 1em white,
        0px 0px 2em white, 0px 0px 3em white;
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


.content__container {
    max-width: 2500px;
    height: fit-content;
    margin: auto;

    background-color: antiquewhite;
}

.content {
    width: 100%;
    min-height: fit-content;

    padding: 1.25rem;

    font-size: 1rem;
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


footer {
    width: 100%;
    min-height: 200px;
    height: fit-content;
    padding: 1rem 0rem 3rem;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    row-gap: 1rem;

    background-color: var(--primary-dark-color);
    color: antiquewhite;
}

.footer__container {
    width: 100%;
    height: fit-content;
    padding: 0 30%;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__container svg {
    width: 1.2rem;
    height: 1.2rem;

    vertical-align: sub;
}

.footer__container h4 {
    font-weight: 300;
}

.footer__container p {
    font-family: "MuseoModerno", serif;
    font-weight: 200;
    font-style: italic;

    line-height: 120%;
}

.footer__container a {
    font-family: "MuseoModerno", serif;
    font-weight: 200;
    font-style: italic;
    text-decoration: none;

    line-height: 120%;
    color: antiquewhite;
}

.footer__container a:hover{
    color: var(--second-color);
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


@media screen and (min-width: 480px) {
    body {
        font-size: 18px;
    }
    .header__container {
        height: 95px;
    }
    .logo {
        height: 95px;
    }
}

@media screen and (min-width: 768px) {
    body {
        font-size: 20px;
    }
    .header__container {
        justify-content: center;
        height: 110px;
    }
    .logo {
        margin-left: 0;
        height: 110px;
    }
    
    .hr__nav {
        display: block;
        position: relative;
    }

    .nav__toggle {
        display: none;
    }
    nav {
        background-color: var(--primary-dark-color);
        display: flex;
        position: relative;
        flex-direction: row;
    }
    nav a {
        font-size: 1em;
    }

    footer {
        padding-top: 2rem;
    }

    .content__container {
        min-height: calc(1vh * 100 - 327px - 178px);
    }

    .footer__container {
        width: 50%;
        padding: 0 10%;
    }
}

@media screen and (min-width: 1280px) {
    .content__container {
        min-height: calc(1vh * 100 - 200px - 178px);
    }

    footer {
        padding-top: 2rem;
    }

    .footer__container {
        width: 25%;
        padding: 0;
    }
}