.about__content {
    width: 100%;
    min-height: fit-content;

    background-color: antiquewhite;
}

.about__content h1:first-child {
    margin-top: 0;
}

.about__content h1 {
    margin-top: 1.5rem;
}

.about__content p {
    width: 100%;
    margin-left: auto;
    margin-top: 0.5rem;
    text-align: left;
    align-self: flex-end;
    justify-self: flex-end;

    font-family: "MuseoModerno", serif;

    line-height: 120%;

    font-size: 1.5rem;
    color: black;
}