* {
    box-sizing: border-box;
    --primary-color: hsl(281, 100%, 20%);
    --primary-dark-color: hsl(281, 100%, 17%);
    --primary-ultra-dark-color: hsl(281, 100%, 14%);

    --second-color: hsl(172, 100%, 50%);
    --second-light-color: hsl(172, 100%, 89%)
}

:root {
    box-sizing: border-box;

    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1440px;
}

body {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    max-width: 100%;

    background-color: var(--primary-ultra-dark-color);
}

header {
    width: 100%;
    height: fit-content;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

.header__container {
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--primary-dark-color);
}

*::selection {
    background-color: hsla(172, 100%, 89%, 0.5);
    color: var(--primary-dark-color);
}

.logo {
    width: fit-content;
    height: 80px;
    margin-left: 5%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 1em;
}

.logo h1 {
    font-family: "Mina", serif;
    font-size: 1.5em;

    margin: 0px;
    margin-top: 0.25em;

    white-space: nowrap;
    letter-spacing: 0.2em;
    padding-left: 0.2em;
}

.logo hr {
    width: 100%;
    height: 0.05em;
    padding: 0;
    margin: 0;
    margin-top: -0.5em;

    background-color: var(--second-light-color);
}

.logo h2 {
    /*font-family: "Mina", serif;*/
    font-size: 1em;

    margin: 0;
    margin-bottom: 0.5em;

    white-space: nowrap;
    letter-spacing: 0.2em;
    padding-left: 0.2em;
}


.hr__nav {
    width: 100%;
    height: 0.1em;
    padding: 0;
    margin: 0;
    position: fixed;

    display: none;
    z-index: 1000;

    background-color: white;

    border-width: 0;
}


.nav__toggle {
    height: 40px;
    width: 40px;

    margin-right: 4%;

    color: white;
}

.nav__toggle input {
    display: none;
}

.nav__toggle label {
    display: block;
    width: 100%;
    height: 100%;
}

nav {
    width: 100%;
    height: fit-content;
    position: fixed;
    
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: "MuseoModerno", serif;

    background-color: var(--primary-ultra-dark-color);
}

nav a {
    text-align: center;
    width: 100%;
    padding: 15px 0px;

    color: antiquewhite;
    font-size: 1.3em;
    text-decoration: none;
}

nav a:hover:not(.nav__active) {
    color: var(white);
    text-shadow: 0px 0px 0.05em white, 0px 0px 0.1em white, 0px 0px 0.2em white,
        0px 0px 1em white, 0px 0px 1em white,
        0px 0px 2em white, 0px 0px 3em white;
}

@media screen and (min-width: 480px) {
    body {
        font-size: 18px;
    }
    .header__container {
        height: 95px;
    }
    .logo {
        height: 95px;
    }
}

@media screen and (min-width: 768px) {
    body {
        font-size: 20px;
    }
    .header__container {
        justify-content: center;
        height: 110px;
    }
    .logo {
        margin-left: 0;
        height: 110px;
    }
    
    .hr__nav {
        display: block;
        position: relative;
    }

    .nav__toggle {
        display: none;
    }
    nav {
        background-color: var(--primary-dark-color);
        display: flex;
        position: relative;
        flex-direction: row;
    }
    nav a {
        font-size: 1em;
    }
}


.content__container {
    max-width: 2500px;
    height: fit-content;
    margin: auto;
}

.background__landing {
    width: 100%;
    height: fit-content;

    font-size: 1em;

    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    background-image: url('../images/neon-background2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: overlay;
    overflow: hidden;
}

.background__landing h1 {
    width: 75%;
    margin: 0;
    text-align: start;
    padding: 0.75em;

    color: antiquewhite;
}

.buttons__image__container {
    width: 100%;
    height: fit-content;
    margin: 0;
    margin-top: 6em;
    align-self: flex-end;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.buttons {
    width: 100%;
    height: fit-content;
    margin-bottom: 1em;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1em;
    gap: 0.5em;
}

.button{
    width: 50%;
    padding: 0.5em 1em;
    text-align: center;

    border: 0.1em solid white;
    border-radius: 1.2em;

    font-family: "MuseoModerno", serif;
    font-weight: 600;
}

.white__button, .white__button:link, .white__button:visited{
    background-color: white;
    color: black;
}

.white__button:hover {
    cursor: grab;
    background-color: rgb(233, 233, 233);
    border-color: rgb(233, 233, 233);
}

.blur__button, .blur__button:link, .blur__button:visited{
    backdrop-filter: blur(25px);
    color: white
}

.blur__button:hover{
    cursor: grab;
    background-color: rgba(0, 0, 0, 0.5);
    border-color: gainsboro
}

.background__landing p {
    width: 100%;
    margin: 0;
    margin-left: auto;
    text-align: center;
    padding: 0.75em;
    align-self: flex-end;
    justify-self: flex-end;

    font-family: "MuseoModerno", serif;

    line-height: 120%;

    font-size: 1.5em;
    color: antiquewhite;
}

@media screen and (min-width: 480px) {
    .background__landing {
        font-size: 1.05em;
    }
    .buttons__image__container {
        margin-top: 3em;
    }
    .background__landing p {
        
    }
}

@media screen and (min-width: 768px) {
    .background__landing {
        font-size: 1.25em;
    }
    .buttons__image__container {
        margin-top: 12em;
    }
}

@media screen and (min-width: 1280px) {
    .background__landing p {
        width: 50%;
        text-align: end;
    }
    .buttons {
        width: 50%;
        margin-bottom: 0;
    }
    .button {
        padding: 0.6em 0.3em;
        text-align: center;
    }
}