.content__container {
    max-width: 2500px;
    height: fit-content;
    margin: auto;
}

.content {
    width: 100%;
    height: fit-content;

    padding: 1.25rem;

    font-size: 1rem;
}

.background__landing {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    background-image: url('../images/neon-background2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
    overflow: hidden;
}

.background__landing h1 {
    width: 75%;
    text-align: start;

    color: antiquewhite;
}

.buttons__image__container {
    width: 100%;
    height: fit-content;
    margin-top: 6em;
    align-self: flex-end;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.buttons {
    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button{
    width: 40%;
    padding: 0.5em 0.5em;
    text-align: center;

    border: 0.1em solid antiquewhite;
    border-radius: 1.2em;

    font-family: "MuseoModerno", serif;
    font-weight: 600;
    text-decoration: none;
}

.white__button, .white__button:link, .white__button:visited{
    background-color: antiquewhite;
    color: black;
}

.white__button:hover {
    background-color: bisque;
    border-color: bisque;
}

.blur__button, .blur__button:link, .blur__button:visited{
    backdrop-filter: blur(25px);
    color: antiquewhite;
}

.blur__button:hover{
    background-color: rgba(0, 0, 0, 0.5);
    border-color: bisque;
}

.background__landing p {
    width: 100%;
    margin-left: auto;
    margin-bottom: 1.25rem;
    text-align: center;
    align-self: flex-end;
    justify-self: flex-end;

    font-family: "MuseoModerno", serif;

    line-height: 120%;

    font-size: 1.5rem;
    color: antiquewhite;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


.custom__landing {
    padding-bottom: 4rem;

    display: flex;
    flex-direction: column;
    position: relative;

    color: black;
    z-index: -1;

    scroll-margin-top: 80px;
}

.custom__landing::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url('../images/neon-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: overlay;
    overflow: hidden;
    filter: blur(2px);
    z-index: -2;
}

.custom__landing h1 {
    width: 100%;

    margin: 0;
    text-align: start;
}

.description__text {
    width: 100%;
    margin-top: 0.5rem;

    font-family: "MuseoModerno", serif;

    line-height: 120%;

    font-size: 1rem;
}

.columns__description {
    width: 100%;
    height: fit-content;
    margin-top: 0.5rem;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.column__description {
    width: 100%;
    height: fit-content;

    padding-top: 2rem;
}

.column__description svg {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: sub;
}

.column__description h3 {
    text-align: center;
}

.column__hr {
    width: 100%;
    margin: auto;
    margin-top: 0.5rem;

    border-color: black;
}

.description__column__text {
    width: 100%;
    margin-top: 0.5rem;
    padding: 0% 2%;

    text-align: center;
    font-family: "MuseoModerno", serif;
    font-weight: 400;
    font-style: italic;

    line-height: 120%;

    font-size: 1rem;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


.cheap_landing {
    padding-bottom: 4rem;

    display: flex;
    flex-direction: column;

    overflow: hidden;

    color: antiquewhite;
    background-color: var(--primary-color);
}

.package__container {
    width: 100%;
    height: fit-content;
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;

    text-align: center;
}

.package__container p {
    width: 100%;
    margin-top: 0.5rem;

    text-align: center;
    font-family: "MuseoModerno", serif;

    line-height: 120%;

    font-size: 1rem;
}

.packeges {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;

    overflow: hidden;
}

.package {
    width: 100%;
    height: fit-content;
    padding: 1.5rem 1.5rem;
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    text-align: left;

    border: 2px solid antiquewhite;
    border-radius: 2rem;
}

.package h2 {
    margin-top: 0.25rem;
}

.package p {
    margin-top: 0.5rem;
    text-align: left;
}

.package__features__list {
    width: 100%;
    height: fit-content;
    margin-top: 1.5rem;

    list-style: none;
}

.package__features__list li {
    margin-top: 2rem;
    position: relative;
    padding-left: 2.5rem;
}

.package__features__list li:first-child {
    margin-top: 0;
}

.package__features__list li::before {
    content: "";
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m5.25 4.5 7.5 7.5-7.5 7.5m6-15 7.5 7.5-7.5 7.5'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    color: black;
    background-color: antiquewhite;
    border-radius: 50%;
    border: 0.25rem solid antiquewhite;
}

.package__button, .package__button:link, .package__button:active, .package__button:visited{
    margin-top: 2rem;
    padding: 1rem 2rem;

    text-align: center;
    font-family: "MuseoModerno", serif;
    font-weight: 600;
    text-decoration: none;

    background-color: antiquewhite;
    border-radius: 1rem;

    color: black;
}

.package__button:hover {
    background-color:bisque;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


.subscription {
    padding-top: 5rem;
    padding-bottom: 5rem;

    display: flex;
    flex-direction: column;

    text-align: center;

    background-color: antiquewhite;
}

.subscription__description {
    margin-top: 1rem;

    font-family: "MuseoModerno", serif;
    font-weight: 400;
    text-decoration: none;
    line-height: 120%;
}

.subscribe__form {
    width: 100%;
    margin-top: 1rem;

    text-align: left;
    font-family: "MuseoModerno", serif;
    font-weight: 600;
    text-decoration: none;
    line-height: 120%;
}

.subscribe__form label {
    margin-left: 0.5rem;
    align-self: flex-start;
}

.subscribe__container{
    width: 100%;
    height: fit-content;
    margin-top: 0.25rem;

    display: flex;
    overflow: hidden;

    background-color: var(--primary-color);
    border-radius: 0.75rem;
}

.email__input {
    width: 70%;
    height: 3rem;
    padding: 0rem 0.75rem;
    padding-right: 0;

    border: none;
    outline: none;

    text-align: left;
    font-family: "MuseoModerno", serif;
    font-weight: 600;
    text-decoration: none;
    line-height: 120%;
    font-size: 1rem;

    color: antiquewhite;
    background-color: transparent;
    border-radius: 0.75rem 0rem 0rem 0.75rem;
}

.subscribe-button {
    width: 30%;
    border: none;
    outline: none;
    margin: 0.4rem 0.4rem 0.4rem 0.75rem;

    text-align: center;
    font-family: "MuseoModerno", serif;
    font-weight: 600;
    text-decoration: none;
    line-height: 120%;

    color: black;
    background-color: antiquewhite;
    border-radius: 0.35rem;
}

.subscribe-button:hover {
    cursor: pointer;
    background: bisque;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


@media screen and (min-width: 480px) {
    .buttons__image__container {
        margin-top: 5rem;
    }

    .custom__landing {
        scroll-margin-top: 95px;
    }
}

@media screen and (min-width: 768px) {
    .buttons__image__container {
        margin-top: 12rem;
    }
    .button {
        width: 35%;
    }

    .custom__landing {
        scroll-margin-top: 174px;
    }

    .column__description {
        width: 50%;
        height: fit-content;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .description__column__text {
        text-align: left;
    }

    .package {
        width: 30%;
    }

    .subscribe__form {
        align-self: center;
        max-width: 768px;
    }
}

@media screen and (min-width: 1280px) {
    .background__landing p {
        width: 65%;
        text-align: end;
        margin: 0;
    }
    .buttons {
        width: 35%;
    }
    .button {
        width: 45%;
    }
    .description__text {
        width: 65%;
    }

    .column__description {
        width: 35%;
        height: fit-content;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .package {
        width: 400px;
    }
    
}